:root {
  --primary: rgb(119, 36, 50);
  --primary-dark: #5C1F29;
  --primary-light: #B84848;
  --secondary: #004165;
  --secondary-dark: #00293B;
  --secondary-light: #0779ad;
  --success: #157F5B;
  --error: #AC1B1B;
  --grey-tint1: #F5F5F5;
  --grey-tint2: #E8E8E8;
  --grey-shade1: #4D4D4D;
  --grey-shade2: #333333;
  --tertiary1: #006094;
  --tertiary2: #022A3A;
  --tertiary3: #035FC2;
  --tertiary4: #39C2D7;
  --tertiary5: #81CAA0;
  --tertiary6: #F2DF74;
  --tertiary7: #D6B430;
  --tertiary8: #DD8676;
  --tertiary9: #781327;
  --tertiary10: #3B0104;
  --tertiary11: #A93439;
  --tertiary12: #A9B2B1;
  --focus-color: var(--tertiary3);
  --body-text: var(--grey-shade2);
  --fontFamilyLato: var(--fontFamilyLato);
  --fontFamilyRoboto: var(--fontFamilyRoboto);
  --primary-opacity-10: rgba(119, 36, 50, 0.1);
}

body {
  min-width: 320px;
  color: var(--body-text);
  line-height: 24px;
  font-size: 0.875em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: $max-width-sm) {
    font-size: 1em;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  background-clip: padding-box;
}
::-webkit-scrollbar-track {
  background-color: var(--grey-tint2);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border: 0px solid transparent;
}

h1 {
  color: var(--body-text);
  font-weight: 500;
  font-size: 1.5em;

  @media (min-width: $max-width-sm) {
    font-size: 1.75em;
  }
}

h2 {
  color: var(--body-text);
  font-weight: 700;
  font-size: 1.25em;

  @media (min-width: $max-width-sm) {
    font-size: 1.5em;
  }
}

h3 {
  color: var(--body-text);
  font-weight: 500;
  font-size: 1em;

  @media (min-width: $max-width-sm) {
    font-size: 1.25em;
  }
}

h4 {
  margin: 0;
  color: var(--body-text);
  font-weight: 700;
  font-size: 0.875em;

  @media (min-width: $max-width-sm) {
    font-size: 1em;
  }
}

h5 {
  margin: 0;
  color: var(--body-text);
  font-weight: 700;
  font-size: 0.75em;

  @media (min-width: $max-width-sm) {
    font-size: 0.875em;
  }
}

h6 {
  color: var(--body-text);
  font-weight: 700;
  font-size: 0.75em;

  @media (min-width: $max-width-sm) {
    font-size: 0.875em;
  }
}

.quote {
  color: var(--secondary);
  font-weight: 600;
  line-height: 24px;
  font-size: 0.875em;

  @media (min-width: $max-width-sm) {
    font-size: 1em;
  }
}

.caption-text {
  font-size: 0.75em;
  line-height: 16px;
  font-weight: 500;
}

.page-title {
  font-size: 1.75em;
  font-weight: 700;
  display: block;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;

  @media (min-width: $max-width-sm) {
    font-size: 2.25em;
  }
}

*:focus-visible {
  outline: 3px solid var(--focus-color);
  outline-offset: 0px;
}

button:focus-visible {
  outline-offset: 3px;
}
a:focus-visible {
  outline-offset: 2px;
}

.dropdown-menu a {
  outline-offset: -2px;
}

.sidebarContainer a:focus {
  outline-offset: 0;
}
.btn-primary.focus, 
.btn-primary:focus-visible,
.btn-inverse-outline-primary.focus, 
.btn-inverse-outline-primary:focus-visible,
.btn-outline-primary.focus, 
.btn-outline-primary:focus-visible {
  outline: 3px solid var(--focus-color);
}

.nav-underline-tabs .nav-link:hover, 
.nav-underline-tabs .nav-link:focus, 
.nav-underline-tabs .nav-link.active {
  color: var(--primary);
  border-bottom-color: var(--primary);
}
.btn-link {
  padding: 0 5px;
  color: var(--secondary);

  &:hover {
    color: var(--secondary-dark);
  }

  &:active {
    color: var(--secondary-light);
  }
}
a {
  color: var(--secondary);
}
a:hover {
  color: var(--secondary-dark);
}

a.text-primary-500:hover,
a.text-primary-500:focus,
a.text-primary:hover, 
a.text-primary:focus {
  color: var(--primary) !important;
}

.fw-700 {
  font-weight: 700 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
/*===== Start Primary Btn Style ========*/
.text-primary {
  color: var(--primary) !important;
}
.text-primary-100 {
  color: var(--primary) !important;
  filter: brightness(95%);
}
.text-primary-200 {
  color: var(--primary) !important;
  filter: brightness(90%);
}
.text-primary-300 {
  color: var(--primary) !important;
  filter: brightness(85%);
}
.text-primary-400 {
  color: var(--primary) !important;
  filter: brightness(80%);
}
.text-primary-500 {
  color: var(--primary) !important;
  filter: brightness(75%);
}
.text-primary-600 {
  color: var(--primary) !important;
  filter: brightness(70%);
}
.text-primary-700 {
  color: var(--primary) !important;
  filter: brightness(65%);
}
.text-primary-800 {
  color: var(--primary) !important;
  filter: brightness(60%);
}
.text-primary-900 {
  color: var(--primary) !important;
  filter: brightness(55%);
}

.border-primary-100,
.border-primary-200,
.border-primary-300,
.border-primary-400,
.border-primary-500,
.border-primary-600,
.border-primary-700,
.border-primary-800,
.border-primary-900 {
  border-color: var(--primary) !important;
}

.dropdown-item.active, 
.dropdown-item:active,
.bg-primary {
  background-color: var(--primary) !important;
}

.modal .modal-footer button,
.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);

  &:disabled,
  &.disabled {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
  }
}

.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);

  &:disabled,
  &.disabled {
    color: var(--primary);
  }
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:focus {
  border-color: var(--primary);
  color: var(--white);
  background-color: var(--primary-dark);
}

.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active, 
.show > .btn-primary.dropdown-toggle,
.btn-outline-primary:not(:disabled):not(.disabled):active, 
.btn-outline-primary:not(:disabled):not(.disabled).active, 
.show > .btn-outline-primary.dropdown-toggle {
  background: var(--primary-light);
  color: var(--white);
  border-color: var(--primary-light);
}

.btn-outline-primary.focus::before,
.btn-outline-primary:focus::before,
.btn-inverse-outline-primary.focus::before,
.btn-inverse-outline-primary:focus::before,
.btn-primary.focus::before, 
.btn-primary:focus::before {
  display: none;
  border-width: 3px;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
}

.btn-primary.focus::before, 
.btn-primary:focus::before,
.btn-inverse-outline-primary.focus::before,
.btn-inverse-outline-primary:focus::before,
.btn-outline-primary.focus::before, 
.btn-outline-primary:focus::before {
  border-color: var(--focus-color);
}

.btn-inverse-outline-primary:hover,
.btn-icon.btn-icon-primary.focus, 
.btn-icon.btn-icon-primary:focus,
.btn-icon.btn-icon-primary {
  border-color: var(--primary);
  color: var(--primary);
}

.btn-icon.btn-icon-primary.focus, 
.btn-icon.btn-icon-primary:focus,
.btn-icon.btn-icon-primary.hover, 
.btn-icon.btn-icon-primary:hover, 
.btn-icon.btn-icon-primary.active, 
.btn-icon.btn-icon-primary:active {
  border-color: var(--primary-dark);
  background-color: var(--primary-dark);
  color: var(--white);
  box-shadow: inset 0 0 0 2px var(--primary);
}


.btn-icon.btn-icon-inverse-primary-active.hover, 
.btn-icon.btn-icon-inverse-primary-active:hover, 
.btn-icon.btn-icon-inverse-primary-active.active, 
.pgn__tab_more.nav-link.active .dropdown .btn-icon.btn-icon-inverse-primary-active.dropdown-toggle, 
.btn-icon.btn-icon-inverse-primary-active:active,
.btn-icon.btn-icon-inverse-primary-active {
  color: var(--primary);
}

.pgn__breadcrumb .list-inline-item a.link-muted:focus::before,
.pgn__form-checkbox-input:focus::before, 
.pgn__form-radio-input:focus::before,
.pgn__form-checkbox-input:checked, 
.pgn__form-radio-input:checked, 
.pgn__form-switch-input:checked {
  border-color: var(--primary);
}

.pgn__form-radio-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23772432'/%3e%3c/svg%3e");
}

.form-control:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 1px var(--primary);
}

.nav-tabs .nav-link.active, 
.nav-tabs .pgn__tab_more.nav-link.active .dropdown .dropdown-toggle, 
.pgn__tab_more.nav-link.active .dropdown .nav-tabs .dropdown-toggle, 
.nav-tabs .nav-item.show .nav-link {
  color: var(--primary);
  border-color: transparent transparent var(--primary);
}

/*===== END Primary Btn Style ========*/

/*===== Start Secondary Btn Style ========*/
.text-secondary {
  color: var(--secondary-dark) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.btn-secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--white);
}

.btn-outline-secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:focus {
  color: var(--white);
  background-color: var(--secondary-dark);
  border-color: var(--secondary-dark);
}

.btn-secondary:not(:disabled):not(.disabled):active, 
.btn-secondary:not(:disabled):not(.disabled).active, 
.show > .btn-secondary.dropdown-toggle,
.btn-outline-secondary:not(:disabled):not(.disabled):active, 
.btn-outline-secondary:not(:disabled):not(.disabled).active, 
.show > .btn-outline-secondary.dropdown-toggle {
  background: var(--secondary-light);
  border-color: var(--secondary-light);
  color: var(--white);
}
.btn-secondary.focus::before, 
.btn-secondary:focus::before,
.btn-outline-secondary.focus::before, 
.btn-outline-secondary:focus::before {
  border-color: var(--secondary-dark);
}

.btn-inverse-outline-secondary:hover,
.btn-icon.btn-icon-secondary.focus, 
.btn-icon.btn-icon-secondary:focus,
.btn-icon.btn-icon-secondary {
  color: var(--secondary-dark);
}

.btn-icon.btn-icon-secondary.focus, 
.btn-icon.btn-icon-secondary:focus,
.btn-icon.btn-icon-secondary.hover, 
.btn-icon.btn-icon-secondary:hover, 
.btn-icon.btn-icon-secondary.active, 
.btn-icon.btn-icon-secondary:active {
  border-color: var(--secondary-dark);
  background-color: var(--secondary-dark);
  color: var(--white);
  box-shadow: inset 0 0 0 2px var(--secondary);
}

/*===== END Secondary Btn Style ========*/

.bg-ternary {
  background: var(--grey-shade1) !important;
}

.sequence-navigation .btn.active:after,
.pgn__menu-select-trigger-btn:hover {
  background-color: var(--primary);
}

.pgn__form-checkbox-input, 
.pgn__form-radio-input, 
.pgn__form-switch-input {
  border: 1px solid var(--grey-tint2);
  border-radius: 2px;

  &:not(:disabled):hover {
    box-shadow: none;
  }
  &:checked {
    border-color: var(--tertiary1);
  }
}

.pgn__form-checkbox-input {
  &:checked {
    background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M21 3H3V21H21V3ZM10 17L5 12L6.41 10.59L10 14.17L17.59 6.58L19 8L10 17Z' fill='%23006094'/%3e%3c/svg%3e");
  }
}

.btn.disabled, 
.btn:disabled {
  opacity: 0.25;
  pointer-events: none;
}
