// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.

@import '../index';

a {
    color: var(--secondary);
}
a:hover,
a:focus {
    color: var(--secondary-dark);
}
a:active {
    color: var(--secondary-light);
}

header.learning-header {
    padding-top: 8px;
    padding-bottom: 8px;
    background: var(--primary);
    color: $white;

    .container-xl {
        max-width: inherit;
    }

    .d-flex {
        @media (max-width: $max-width-xs) {
            flex-wrap: wrap;
        }
    }

    .logo {
        @media (max-width: $max-width-xs) {
            margin-right: auto !important;
        }
    }

    .text-gray-700 {
        color: $white !important;
    }

    .btn-outline-primary {
        color: $white;
        border-color: $white;

        &:hover {
            color: var(--primary);
            background: $white;
        }

        &:active {
            border-color: transparent !important;
            background: $white !important;
            color: $gray-700 !important;
        }
    }

    .show > .btn-outline-primary.dropdown-toggle {
        border-color: transparent !important;
        background: $white !important;
        color: $gray-700 !important;
    }
}
