// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.

@import '../index';

a {
    color: var(--secondary);
}
a:hover,
a:focus {
    color: var(--secondary-dark);
}
a:active {
    color: var(--secondary-light);
}

header.learning-header {
    padding-top: 5px;
    padding-bottom: 5px;
    background: $white;
    color: var(--grey-shade2);
    border: 1px solid var(--grey-tint2);

    .container-xl {
        max-width: inherit;
    }

    .d-flex {
        @media (max-width: $max-width-xs) {
            flex-wrap: wrap;
        }
    }

    .logo {
        @media (max-width: $max-width-xs) {
            margin-right: auto !important;
        }
    }

    .text-gray-700 {
        color: var(--grey-shade2) !important;
        font-weight: 700;
        font-size: 14px;
        text-decoration: none !important;

        &:hover {
            color: var(--primary) !important;
        }
    }

    .btn-outline-primary {
        color: var(--grey-shade2);
        border-color: $white;
        font-size: 15px;

        &:focus,
        &:hover {
            background: var(--grey-tint1);
        }

        &:active {
            border-color: transparent !important;
            background: $white !important;
            color: $gray-700 !important;
        }
    }

    .user-dropdown {
        .dropdown-menu {
            min-width: 190px;
            border: none;
            box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
        }
        .dropdown-item {
            padding: 7px 15px;
            color: var(--grey-shade2);
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;

            &:hover,
            &:active,
            &:focus {
                color: var(--secondary-dark);
                background: var(--grey-tint1) !important;
            }
        }
    }

    .show > .btn-outline-primary.dropdown-toggle {
        background: var(--grey-tint1);
        border-color: var(--grey-tint1);
        color: var(--grey-shade2);
    }

    .btn-inverse-outline-primary {
        &:focus {
            color: $white;
        }
    }
}
